html{
  scroll-snap-type: y mandatory;
}
.container-fluid{
  height: 100% !important;
}
.carousels-iner{
  width: 100px !important;
}
.carousel-item, .carousel-item img {
  height: 50vh;
  width: 100vh;
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
.section{
  height: 58pc;
  scroll-snap-align: center;
}
